@import 'mixins.scss';
@import 'vars.scss';

* {
	//box-sizing: border-box;
}

body {
	//@include fontStack($color: white);
	background-image: $bodyBgImage;
}

footer {
	text-align: center;
}

.container {
	//width: 350px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 25px;
	
	//border: 1px white solid;
	//background-color: $boxTransparent;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
}

.jumbotron {
	background-color: $boxTransparent !important;
	//background-color: blue !important;
}

#front-picture {
	width: 80em;
	height: 45em;
}